@import "variables";

$button_color: $background;
$button_background: invert($button_color);

/*button,
input[type=button],
input[type=reset],
input[type=submit],
select {
  font-family: $font-sans-serif;
  color: $button_color;
  background-color: $button_background;
  cursor: pointer;
  padding: .5rem 1rem;
  border-radius: .5rem;
  width: unset;

  &:hover {
    background-color: darken($button_background, 10%);
    transition-property: background-color;
    transition-duration: .4s;
  }
}*/

.ms-button {
  display: block;
  background-color: #000000;
  font-family: $font-sans-serif;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    background-color: #7d7d7d;
    transition-property: background-color;
    transition-duration: .4s;
  }
}

.ms-text-link {
  padding: 0 1rem;
}


button,
input[type=button],
input[type=reset],
input[type=submit],
select,
.btn {
  font-family: $font-sans-serif;
  display: inline-block;
  background: $button_background;
  border: 0;
  line-height: 2.5em;
  // padding: 0 0 0 1em;
  margin-bottom: 1em;
  outline: none;
  text-decoration: none;
  color: #666;

  .arrow {
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    background: #333;
    color: white;
    font-size: 1em;
    width: 2.5em;
    transition: margin 200ms;
    margin-left: .75em;
  }

  &:hover {
    background: darken($button_background, 10%);
    .arrow {
      margin-left: 1.25em;
      background-color: darken($button_background,5%);
    }
  }
  &:active {
    background: #ccc;
    .arrow {
      margin-left: 1.5em;
    }
  }
}

.btn-info {
  .arrow {
    background-color: indianred;
  }
  &:hover {
    .arrow {
      background-color: desaturate(darken(indianred,5%),5%);
    }
  }
}

.btn-learn {
  .arrow {
    background-color: salmon;
  }
  &:hover {
    .arrow {
      background-color: desaturate(darken(salmon,5%),5%);
    }
  }
}




// Remove Focus

button::-moz-focus-inner {
    border: none;
}



