.ms-carousel-overflow {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  box-sizing: content-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;
  height: 20rem;

  /* https://codepen.io/koheishingai/pen/uKvJF */
  > .ms-carousel-container {
    > .layout-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
      > li {
        width: 30rem;
        height: 30rem;

        > card {
          display: block;


          > .ms-carousel-item-title {
            font-size: larger;
          }
        }
      }
    }
  }
}
