@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: $font-sans-serif, sans-serif;
  font-size: $size-0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6,
[class*="title"], [class*="section"] {
  font-family: $font-serif, serif;
}

h1, .ms-title-1, [class$="title-1"] {
  font-size: $size-8;
}

h2, .ms-title-2, [class$="title-2"] {
  font-size: $size-7;
}

h3, .ms-title-3, [class$="title-3"] {
  font-size: $size-6;
}

h4, .ms-title-4, [class$="title-4"] {
  font-size: $size-5;
}

h5, .ms-title-5, [class$="title-5"] {
  font-size: $size-4;
}

h6, .ms-title-6, [class$="title-6"] {
  font-size: $size-3;
}

input {
  display: block;
  margin: 0.4vh 0.4vw;
  padding: 0.4vh 0.4vw;
  color: inherit;
  width: 100%;
  border: none;
  border-radius: 0.4em;
  transition: box-shadow 0.5s;
}

select {
  margin: 0.4vh 0.4vw;
  padding: 0.4vh 0.4vw;
  color: inherit;
  border: none;
  border-radius: 0.4em;
  transition: box-shadow 0.5s;
}

