.ms-footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  > .ms-layout-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    > a, div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}