.ms-set_language-form,
.ms-set-theme-form {
  display: inline-flex;
}

.ms-my-preferences-form {
  display: flex;
  flex-direction: column;
  margin: 3em;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      display: block;
    }
  }
}