@import "variables";

.ms-head {
  background-color: #1c1c1c;
  line-height: 3rem;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 3rem;

    > li {
      > a.ms-button {
        height: 3rem;
      }

      > a {
        text-decoration: none;
        color: inherit;
        line-height: 3rem;

        > span.material-icons {
          line-height: 3rem;
        }
      }
    }
  }
}

.ms-layout-inner {
  width: 100%;
  padding: 0 7.5%;
  margin: 0 auto;
  max-width: 1430px;
}

.ms-main-nav {
  display: table;
  width: 100%;
  table-layout: fixed;

  > ul {
    display: table-row;
    width: 100%;
    table-layout: fixed;
    position: relative;
    list-style: none;

    > li {
      line-height: 2rem;
      font-size: medium;
      transition: padding .4s ease-out;
      display: table-cell;
      width: 14.28%;
      text-align: center;
      position: relative;
      table-layout: fixed;
      border-right: 1px solid;
      border-left: 1px solid;
      overflow: hidden;
      cursor: pointer;
      padding: 0.2rem;

      &:hover {
        font-size: large;
        font-weight: bolder;
        transform: scale(1.1, 1);
        background-color: #0a0a0a;
        opacity: 0.5;
        transition-property: transform, font-size, font-weight;
        transition-duration: .4s;
      }
    }
  }
}

.ms-full-width {
  width: 100%;
}

.ms-head-site-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid;
  background-color: $background-site-title;

  > img {
    max-width: 5rem;
  }
}