@import "variables";
@import "media";

.ms-display-inline {
  display: inline;
}

.ms-flex-justify-content-center {
  justify-content: center;
}

.ms-display-flex {
  display: flex;
}

.ms-site-title {
  font-size: xxx-large;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ms-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  > .ms-panel-left, .ms-panel-right {
    padding: 40px 0;
    min-width: 15rem;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    background-color: $background-panel;

    > .ms-panel-section {
      font-size: $size-3;
      padding: 1rem 1rem .5rem 1rem;
      background-color: lighten($background-panel, 10%);
    }

    > ul {
      list-style: none;

      > li {
        padding: 0.2rem 1rem 0.3rem 1rem;
      }
    }
  }

  > .ms-panel-central {
    width: 100%;
    background-color: $background;
    z-index: 30;
  }
}

.ms-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .ms-layout-inner {

  }
}

@mixin ms-section-container {
  .ms-section-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@include sm {
  @include ms-section-container
}

@include md {
  @include ms-section-container
}

@include lg {
  @include ms-section-container
}


@mixin ms-list-view {
  .ms-list-view {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 1rem;

    > .ms-list-header {
      display: table-header-group;

      > div {
        display: table-cell;
      }
    }

    > .ms-list-row {
      display: table-row;
      cursor: pointer;

      > div {
        display: table-cell;
      }
    }
  }
}

@include sm {
  @include ms-list-view
}

@include md {
  @include ms-list-view
}

@include lg {
  @include ms-list-view
}


.ms-login-form {
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 3rem;
    align-items: center;

    > div {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }
  }
}

.ms-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  > .ms-column {
    display: flex;
    flex-direction: column;
  }
}