{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "favicons/site.webmanifest" %}">
    {% endblock %}
    {% block meta_std %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
    {% endblock %}
    <title>
        {{ site_param_site_title }} -
        {% block title %}
            {% trans "Base" %}
        {% endblock %}
    </title>
    {% block meta %}
        <meta name="viewport"
              content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=auto">
    {% endblock %}
    {% block stylesheets %}
        <link href="{% static "css/muses_default.css" %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block script %}
        <script src="{% url 'javascript-catalog' %}"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"></script>
        <script>
            function msCollapsible(targetButton) {
                targetButton.classList.toggle("active");
                switch (targetButton.firstElementChild.innerText) {
                    case "keyboard_arrow_right":
                        targetButton.firstElementChild.innerText = 'keyboard_arrow_left'
                        break;
                    case "keyboard_arrow_left":
                        targetButton.firstElementChild.innerText = 'keyboard_arrow_right'
                        break;
                    default:
                        break;
                }
                const content = document.getElementById(targetButton.getAttribute("data-target"));
                if (content.style.position === "static") {
                    content.style.position = "absolute"
                    content.style.opacity = "0"
                    content.style.zIndex = "29"
                } else {
                    content.style.position = "static"
                    content.style.opacity = "1"
                    content.style.zIndex = "30"
                }
            }

            function msGo(url) {
                location.href = url
            }
        </script>
    {% endblock %}
</head>
<body>
<div class="ms-main-container">
    {% block navleft %}
        <div id="panel-left" class="ms-panel-left">
            <ul>
                <li>
                    <a href="{% url "members" %}">{% trans "Members" %}</a>
                </li>
            </ul>
        </div>
    {% endblock %}
    <div class="ms-panel-central">
        {% block ms-head %}
            <nav class="ms-full-width ms-head" aria-label="topBar">
                <ul>
                    <li>
                        <a id="collapse-panel-left" class="ms-button ms-collapsible" data-target="panel-left"
                           onclick="msCollapsible(this)">
                            <span class="material-icons">
                                keyboard_arrow_right
                            </span>
                        </a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                            <div class="ms-image-profile">
                                <img src="" alt="">
                            </div>
                        {% else %}
                            <a class="ms-button" href="{% url "login" %}">
                                {% trans "Login" %}
                            </a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="ms-text-link" href="{% url "my_messages" %}">{% translate "My messages" %}</a>
                        </li>
                        <li>
                            <a class="ms-text-link"
                               href="{% url "my_preferences" %}">{% translate "My preferences" %}</a>
                        </li>
                    {% endif %}
                    <li>
                        <form class="ms-set-theme-form" id="set_theme" method="post">
                            {{ set_theme_form }}
                            <input type="submit" value="{% trans "OK" %}">
                        </form>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a id="collapse-panel-right" class="ms-button ms-collapsible" data-target="panel-right"
                           onclick="msCollapsible(this)">
                            <span class="material-icons">
                                keyboard_arrow_left
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
        {% block header %}
            <header id="main-header" class="ms-layout-inner">
                <nav class="ms-main-nav" aria-label="navBar">
                    <ul>
                        {% for section in sections %}
                            <li><a href="{% url "posts" section_short_name=section.short_name %}">{{ section.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block site_title %}
            <div class="ms-head-site-title">
                <img src="{% static "svg/muses.svg" %}" alt="">
                <div class="ms-site-title"><a href="{% url "home" %}">{{ site_param_site_title }}</a></div>
            </div>
        {% endblock %}
        {% block carousel %}
        {% endblock %}
        {% block content %}
            <div class="ms-content-container">
                <div class="ms-layout-inner">


                </div>
            </div>
        {% endblock %}
        {% block footer %}
            <div class="ms-footer-container">
                <div class="ms-layout-inner">
                    <a href="{% url "faq" %}">{% trans "Frequently Asked Questions" %}</a>
                    <a href="{% url "help" %}">{% trans "Help" %}</a>
                    <div>
                        <form class="ms-set_language-form" action="{% url 'set_language' %}"
                              method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="{% trans "Go" %}">
                        </form>
                    </div>
                </div>
                <div class="ms-layout-inner">
                    <div>
                        <a href="{% url "admin:index" %}" target="_blank">Admin site</a>
                        <a href="{% url "api-root" %}" target="_blank">REST API</a>
                        <a href="{% url "muses_graphiql" %}" target="_blank">GraphQL API</a>
                    </div>
                    <div>
                        {{ ip_address }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    {% block navright %}
        <div id="panel-right" class="ms-panel-right">
            {% if user.is_authenticated %}
                <div class="ms-panel-section">{% translate "Account management" %}</div>
                <ul>
                    <li><a href="{% url "my_admonitions" %}">{% translate "My admonitions" %}</a>
                    </li>
                    <li><a href="{% url "my_books" %}">{% translate "My books" %}</a>
                    </li>
                </ul>
                <div class="ms-panel-section">{% translate "Management" %}</div>
                <ul>
                    <li><a href="{% url "manage_admonitions" %}">{% translate "Admonitions" %}</a>
                    </li>
                    <li><a href="{% url "manage_alerts" %}">{% translate "Alerts" %}</a>
                    </li>
                    <li><a href="{% url "manage_contests" %}">{% translate "Contests" %}</a>
                    </li>
                    <li><a href="{% url "manage_correction_requests" %}">{% translate "Correction requests" %}</a>
                    </li>
                    <li><a href="{% url "manage_licenses" %}">{% translate "Licenses" %}</a>
                    </li>
                    <li><a href="{% url "manage_site_params" %}">{% translate "Site parameters" %}</a>
                    </li>
                    <li><a href="{% url "manage_tags" %}">{% translate "Tags" %}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    {% endblock %}
</div>
</body>
</html>