{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Forgot password" %}
{% endblock %}
{% block content %}
    <div class="ms-flex-container">
        <div class="ms-layout-inner">
            <table aria-label="forgot password form">
                <form method="post" id="forgot_password_form" class="ms-form">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <th scope="row"></th>
                        <td><input type="submit" value="{% trans "Send" %}"></td>
                    </tr>
                    <tr>
                        <td><a href="{% url "login" %}">{% trans "Login" %}</a></td>
                        <td><a href="{% url "register" %}">{% trans "Register" %}</a></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>

{% endblock %}