{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Home" %}
{% endblock %}
{% block carousel %}
    <div class="ms-carousel-overflow">

        <div id="carousel-wrapper" class="ms-carousel-container">
            <ul class="layout-inner">
                <li>
                    <card>
                        <div class="ms-carousel-item-title">title</div>

                    </card>
                </li>
                <li>
                    <card>
                        <div class="ms-carousel-item-title">title</div>

                    </card>
                </li>
                <li>
                    <card>
                        <div class="ms-carousel-item-title">title</div>

                    </card>
                </li>
                <li>
                    <card>
                        <div class="ms-carousel-item-title">title</div>

                    </card>
                </li>

            </ul>
        </div><!-- /#carousel-wrapper -->
        <a class="carousel-nav icon-arrow-right" id="carousel-next-front" style="cursor: pointer;"></a>
        <a class="carousel-nav icon-arrow-left" id="carousel-prev-front" style="cursor: pointer;"></a>
    </div>
    <div class="ms-columns">
        <div class="ms-column">
            <div>{% trans "Recents news" %}</div>
        </div>
        <div class="ms-column">
            <div>{% trans "Recents posts" %}</div>
        </div>
    </div>
{% endblock %}
