{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Login" %}
{% endblock %}
{% block content %}
        <div class="ms-flex-container">
            <div class="ms-layout-inner">
                <form class="ms-login-form" method="post">{% csrf_token %}
                {{ form.as_div }}
                <div>
                    <div><input type="submit" value="{% trans "Login" %}"></div>
                </div>
                <div>
                    <div><a href="{% url "forgot_password" %}">{% trans "Forgot your password?" %}</a></div>
                    <div><a href="{% url "register" %}">{% trans "Register" %}</a></div>
                </div>
                </form>
            </div>
        </div>
{% endblock %}