{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Members list" %}
{% endblock %}
{% block content %}
    <h1>Members</h1>
    <div class="ms-list-view">
        <div class="ms-list-header">
            <div>Username</div>
            <div>Email</div>
            <div></div>
            <div></div>
        </div>
        {% for member in object_list %}
            <div class="ms-list-row">
                <div>{{ member.username }}</div>
                <div>{{ member.email }}</div>
                <div>
                    <span class="material-icons">
                    create
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                    mail
                    </span>
                </div>
            </div>

        {% empty %}
            <div class="ms-list-row">
                <div>{% translate "No data yet" %}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}