{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {{ section_name }}
{% endblock %}
{% block content %}
    <div class="ms-content-container">
        <div class="ms-layout-inner">
            {{ section_name }}
        </div>
    </div>
{% endblock %}