{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "My preferences" %}
{% endblock %}
{% block content %}
    <div class="ms-flex-container">
        <div class="ms-layout-inner">
            <form class="ms-my-preferences-form" method="post">{% csrf_token %}
                {{ form.as_div }}
                <div>
                    <div><input type="submit" value="{% translate "Save" %}"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}