{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Contests management" %}
{% endblock %}
{% block content %}
    <div class="ms-section-container">
        <div class="ms-layout-inner">
            <h1>{% translate "Contests management" %}</h1>
            <div class="ms-management-actions-bar">
                <button onclick="msGo('{% url "manage_contests_create" %}')">{% translate "Add contest..." %}</button>
            </div>
        </div>
    </div>
{% endblock %}