{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Create license" %}
{% endblock %}
{% block content %}
    <div class="ms-section-container">
        <div class="ms-layout-inner">
            <h1>{% translate "Create license" %}</h1>
            <form method="post" action="">{% csrf_token %}
                {{ form }}
                <input type="submit" value="{% translate "Add" %}">
            </form>
        </div>
    </div>
{% endblock %}