{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Delete site parameter" %}
{% endblock %}
{% block content %}
    <div class="ms-section-container">
        <div class="ms-layout-inner">
            <h1>{% translate "Delete site parameter" %}</h1>
            <form method="post">{% csrf_token %}
                <p>{% translate "Are you sure you want to delete " %} {{ object }} ?</p>
                <div class="ms-display-flex ms-flex-justify-content-center">
                <input type="submit" value="{% translate "Confirm" %}">
                <input type="button" value="{% translate "Cancel" %}" onclick="msGo('{% url "manage_site_params" %}')">
                    </div>
            </form>
        </div>
    </div>
{% endblock %}