{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Site parameters management" %}
{% endblock %}
{% block content %}
    <div class="ms-section-container">
        <div class="ms-layout-inner">
            <h1>{% translate "Site parameters" %}</h1>
            <div class="ms-list-view">
                <div class="ms-list-header">
                    <div>{% translate "Key" %}</div>
                    <div>{% translate "Value" %}</div>
                    <div></div>
                    <div></div>
                </div>
                {% for site_param in object_list %}
                    <div class="ms-list-row">
                        <div onclick="msGo('{% url "manage_site_params_detail" id=site_param.id %}')">{{ site_param.key }}</div>
                        <div onclick="msGo('{% url "manage_site_params_detail" id=site_param.id %}')">{{ site_param.value }}</div>
                        <div class="text-center">
                            <span class="material-icons"
                                  onclick="msGo('{% url "manage_site_params_update" id=site_param.id %}')">
                            edit
                            </span>
                        </div>
                        <div class="text-center">
                            {% if not site_param.protected %}
                                <span class="material-icons"
                                      onclick="msGo('{% url "manage_site_params_delete" id=site_param.id %}')">
                            delete
                            </span>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="ms-list-row">
                        <div class="text-center">{% translate "No data yet" %}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
