{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Tags management" %}
{% endblock %}
{% block content %}
    <h1>Tags</h1>
    <div class="ms-list-view">
        <div class="ms-list-header">
            <div>Name</div>

            <div></div>
            <div></div>
        </div>
        {% for tag in object_list %}
            <div class="ms-list-row">
                <div>{{ tag.name }}</div>
                <div>
                    <span class="material-icons">
                    create
                    </span>
                </div>
                <div>
                    <span class="material-icons">
                    mail
                    </span>
                </div>
            </div>
        {% empty %}
            <div class="ms-list-row">
                <div>{% translate "No data yet" %}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
